<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
          id="org.covaid.dashboard.login"
          name="CovAId Login Module"
          point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.covaid.dashboard.authentication.CovaidLoginModule"
            description="Login module voor CovAId">
      </loginModule>
   </extension>
  <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/covaid/web"
            base-name="/WEB-INF">
      </resource>
   </extension>
 </plugin>
