<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/covaid/mobile/rest"
            class="org.covaid.mobile.RestServlet"
            load-on-startup="true">
        <init-param name="javax.ws.rs.Application"
    			    value="org.covaid.mobile.RestApplication">
		</init-param>
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/covaid-mobile"
            base-name="/web">
      </resource>
   </extension>
</plugin>